
    <!DOCTYPE html>
    <html lang="ru">
    <head>
        <title>hades.shushik.net</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=1200, initial-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
        <link href='/static/style.css' rel='stylesheet' type='text/css'>
    </head>
    <body>
    <div style="background:#533333">
        <table><tr><td><img src="/static/pes.jpg"></td><td>
                    <h1>Hades</h1>&nbsp
                </td></tr></table>
    </div>
    <div style="background:#444444">
        {{template menu}}
        <a href="/reg/">Регистрация</a>
        <a href="/enter/">Вход</a>
        {{end}}
        <body>
    {{template </div>
    <div style="background:#533333">"body"}}
    </div>
    <div>
        <p> Copyleft shushik.net 2020 </p>
    </div>
    </body>
    </html>
