body	{
    color: #6a4c00;
    background-color: #808000;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans Condensed', sans-serif
}
a	{
    color: #6a4c00;
}
div	{
    background-color: #efe6d0;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width:  60%;
    padding: 8px 32px 8px 32px;
    align: center;
    bottom-border: 2px solid #6a4c00;
}
#mer {
    background-color: #efe6d0;
    margin: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    padding: 8px 32px 8px 32px;
    align: center;
    border: 1px solid #000000;
}
p.con {
    width: 60%;
    height: auto;
    background: #ff0000;
    text-align: left;
}
h1	{
    max-width: 27em;
    font-size: 32px;
    font-weight: normal;
    margin: 0px;
    text-align: right;
}
h1.f	{
    float: left;
    font-weight: bold;
    padding-top: 2px;
}
p {
    color: #4d3700;
    font-family: 'Arial';
    font-size: 15px;
    max-width: 50em;
    text-align:le
    width 60%;
display: inline-block;
}
}
.hidden	{
    display: none;
}
#fu	{
    padding: 32px 0px 32px 0px;
    width:  60%
}
#head	{
    color: #6a4c00;
    font-size: 16px;
    padding: 0px;
    margin: 16px auto 0px auto;
    border-bottom: 2px solid #6a4c00;
    width: 60%;
}
#logo	{
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    text-align: left;
}
.menu
{
    position: absolute;
    width: 200px;
    left: 688px;
    height: 100%;
}
.lighterColor {
    position: absolute;
    width: 60%;
    background: #fc3;
}


a {
    color: white;
    background: #6a4c00;
    padding: 3px;
    border-radius: 6px;
    display: inline-block;
}
.data {
    padding: 3px;
    border-radius: 3px;
    display: inline-block;

    position: absolute;
    width: 60%;
    background: #fc3;
}
.right {
    position: absolute;
    width: 15%;
    right: 0%;
    fon-size: 16px;
}
